@mixin state-button($color) {
    background-color: darken($color, 15%);
    border-color: darken($color, 15%);
    color: darken($color, 60%);

    &:hover {
        background-color: darken($color, 20%);
        border-color: darken($color, 20%);
    }

    &:active {
        background-color: darken($color, 30%);
        border-color: darken($color, 30%);
    }
}

.button {
    position: relative;
    display: inline-flex;

    flex: 0 0 auto;
    flex-direction: row;

    vertical-align: middle;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 2rem;

    margin: 0 .5rem;
    padding: 0 1rem;

    border-width: 0;
    background-color: $color-border;

    text-align: center;
    white-space: nowrap;
    color: $color-text;

    font-size: .75rem;
    font-weight: 600;

    cursor: pointer;

    transition: all 200ms ease;
    user-select: none;
    appearance: none;
    overflow: hidden;

    &:hover {
        background-color: darken($color-border, 5%);
        border-color: darken($color-border, 5%);
    }

    &:active {
        background-color: darken($color-border, 10%);
        border-color: darken($color-border, 10%);
    }

    &.is-info       { @include state-button( $color-info ); }
    &.is-warning    { @include state-button( $color-warning ); }
    &.is-danger     { @include state-button( $color-danger ); }
    &.is-success    { @include state-button( $color-success ); }

    &.is-rounded {
        border-radius: 20px;
    }

    &.pill-left {
        border-radius: 20px 0 0 20px;
    }

    &.pill-right {
        border-radius: 0 20px 20px 0;
    }

    &.is-outline {
        background-color: $color-background;
        border-width: 1px;
        border-style: solid;
        border-color: $color-border;
    }

    &.is-invisible {
        background-color: $color-background;
        border-color: $color-background;
    }

    &.is-full {
        align-self: stretch;
        flex: 1 1 auto;

        width: 100%;
    }

    &.is-disabled, &[disabled] {
        opacity: .25;
        cursor: not-allowed;

        &:hover,
        &:active {
            background-color: $color-border !important;
        }
    }

    .icon {
        padding: 0 .25rem 0 0;
        margin: 0 .25rem 0 -.25rem;
    }
}
