@import "../../configuration/index";

.control {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin: .5rem;
    padding: 0;

    &.is-small {
        width: 18rem;
    }
}
