.input {
    display: flex-block;

    padding: 1.35rem .5rem .25rem .5rem;

    width: 100%;

    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color: $color-border;

    &.is-active ~ .label,
    &.is-focus ~ .label,
    &:focus ~ .label,
    &:valid ~ .label {
        top: 7px;
        left: 10px;
        font-size: .75rem;
        color: $color-text;
    }
}

.label {
    position: absolute;
    color:#999;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
}
