$color-link         : #2962ff !default;
$color-text         : #222222 !default;
$color-border       : #dfdfdf !default;
$color-background   : #ffffff !default;

$color-success      : #dff0d8 !default;
$color-warning      : #fcf8e3 !default;
$color-danger       : #f2dede !default;
$color-info         : #d9edf7 !default;
