@function split-str($string, $separator) {
    $output : ();
    $index  : str-index($string, $separator);

    @while $index != null {
        // Get the substring from the first character to the separator
        $item : str-slice($string, 1, $index - 1);

        $output : append($output, $item);
        $string : str-slice($string, $index + 1);

        // Find new index of separator
        $index : str-index($string, $separator);
    }

    // Add the remaining string to list (the last item)
    $output: append($output, $string);

    @return $output;
}
