# Build ignores
/node_modules

# SASS ignores
.sass-cache/
*.css.map

# Logs and cache
*.npm
*.sln
*.log
*.tgz
.tags*
npm-debug.log*

# IDE stuff
/.idea/
*.xcodeproj
*.swp
*.pyc
*.VC.db
*.VC.VC.opendb
.vs/
.vscode/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
