@import "../configuration/index";

*, *:after, *:before {
    box-sizing: inherit;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-tap-highlight-color: rgba(white, 0);

    outline: none;
}

body, html {
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;

    min-width: 320px;
    height: 100%;

    margin: 0;
    padding: 0;

    font-family: $font-main;
    font-size: $font-size;

    overflow-x: hidden;
    overflow-y: scroll;

    box-sizing: border-box;
}

hr {
    border-width: 0;

    height: 1px;
    width: 100%;

    background-color: $color-border;
}

input, button, textarea, a, a:active, a:focus, a:hover {
    text-decoration: none;

    outline: none;
    cursor: pointer;
}

a {
    color: $color-link;

    -webkit-text-decoration-skip: objects;
}
