@import "../configuration/index";

.typo {
    text-rendering: geometricPrecision;

    & > p,
    & > ul,
    & > dl,
    & > ol {
        font-family: $font-main;
        font-feature-settings: "kern", "onum", "liga";

        @include responsive-type(1rem, 1rem, $font-size);
    }

    & > ul,
    & > dl,
    & > ol {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    & >  h1, & >  h2, & >  h3, & >  h4, & >  h5,& >   h6,
    & > .h1, & > .h2, & > .h3, & > .h4, & > .h5, & > .h6 {
        font-family: $font-head;
        font-feature-settings: "dlig", "liga", "lnum", "kern";
    }

    & > h1, & > .h1 { @include responsive-type(3.00rem, 3.00rem, $font-size); }
    & > h2, & > .h2 { @include responsive-type(2.00rem, 2.00rem, $font-size); }
    & > h3, & > .h3 { @include responsive-type(1.75rem, 1.75rem, $font-size); }
    & > h4, & > .h4 { @include responsive-type(1.50rem, 1.50rem, $font-size); }
    & > h5, & > .h5 { @include responsive-type(1.25rem, 1.25rem, $font-size); }
    & > h6, & > .h6 { @include responsive-type(1.25rem, 1.25rem, $font-size); }

    & > blockquote {
        @include responsive-type(1rem, 1rem, $font-size);

        padding-left: .75rem;

        border-left-width: .25rem;
        border-left-style: solid;
        border-left-color: $color-text;
    }

    & > abbr {
        border-bottom-width: 1px;
        border-bottom-style: dashed;
    }

    & > table {
        font-feature-settings: "liga", "lnum", "tnum", "kern";
    }
}
